//Default
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Colors
$color-primary: #4D96A9;
$color-secondary: #855FB1;
$color-tertiary: #28283D;
$color-quaternary: #87879D;
$color-quinary: #8FE3F9;
$color-senary: #D9B8FF;
$color-septenary: #FAFAFA;

//Typography
@font-face {
    font-family: "Red-Hat-Display-black";
    src: url("../font/Red_Hat_Display/static/RedHatDisplay-Black.ttf");
}

@font-face {
    font-family: "Red-Hat-Display-medium";
    src: url("../font/Red_Hat_Display/static/RedHatDisplay-Medium.ttf");
}

body {
    font-size: 18px;
    font-family: "Red-Hat-Display-medium";
    font-weight: 500;
    line-height: 26px;
    width: 100%;
    height: 100vh;
    background: #FAFAFA;
}

h1 {
    font-size: 64px;
    font-family: "Red-Hat-Display-black";
    font-weight: 900;
    line-height: 64px;
}

h2 {
    font-size: 40px;
    font-family: "Red-Hat-Display-black";
    font-weight: 900;
    line-height: 44px;
}

.overline {
    font-size: 16px;
    font-family: "Red-Hat-Display-black";
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

//Buttons
button {
    cursor: pointer;
    border: none;
    outline: none;
    font-family: "Red-Hat-Display-black";
}

button#download-blue {
    width: 193px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 29px;
    background: #4D96A9;
    color: #FFFFFF;
}

button#download-blue:hover {
    background: #71C0D4;
}


button#download-pink {
    width: 193px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 29px;
    background: #855FB1;
    color: #FFFFFF;
}

button#download-pink:hover {
    background: #B18BDD;
}



//Desktop
#meet-part {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;


    img#logo-img {
        width: 119px;
        height: 28px;
    }

    #container-chat-img {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        height: 358px;
        overflow: hidden;

        img#img-left {
            position: absolute;
            left: -2.2%;
            top: 0%;
        }

        img#img-hero-tablet {
            display: none;
        }

        img#img-right {
            position: absolute;
            right: -2.2%;
            bottom: 0%;
        }

        #container-chat {
            width: 540px;
            height: 304px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-between;
            align-items: center;

            h1 {
                color: $color-tertiary;
                width: 80%
            }

            p {
                color: $color-quaternary;
            }

            #buttons {
                display: flex;

                button#download-blue {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 15px;
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 900;
                    line-height: 26px;

                    span {
                        margin-left: 4px;
                        color: #8FE3F9;
                        font-size: 16px;
                        font-weight: 900;
                        line-height: 26px;
                    }
                }

                button#download-pink {
                    width: 139px;
                    height: 58px;
                }
            }
        }
    }
}

#section-modern-use {
    margin-top: 117px;
    height: 765px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    #number-1 {
        width: 1px;
        height: 84px;
        background: hsla(240, 10%, 57%, 0.25);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        p.circle {
            border-radius: 29px;
            border: 1px solid rgba(135, 135, 157, 0.25);
            background: #FAFAFA;
            width: 56px;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #87879D;
            position: absolute;
            top: 100%;
        }
    }

    #container-img-rectangles {
        width: 75%;
        display: flex;
        justify-content: space-between;

        img {
            width: 255px;
            height: 242px;
            border-radius: 8px;
        }
    }

    #smarter-text {
        width: 540px;
        height: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .overline {
            color: $color-primary;
        }

        h2 {
            color: $color-tertiary;
            width: 80%;
            text-align: center;
        }

        p {
            text-align: center;
            color: #87879D;
            width: 95%;
        }
    }
}

footer {
    position: relative;
    margin-top: 170px;
    background-image: linear-gradient(0deg, rgba(77, 150, 169, 0.8) 0%, rgba(77, 150, 169, 0.8) 0%), url("../starter-code/assets/desktop/image-footer.jpg");
    height: 308px;
    display: flex;
    align-items: center;
    justify-content: center;

    #number-2 {
        width: 1px;
        height: 84px;
        background: hsla(240, 10%, 57%, 0.25);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        top: -35%;

        p.circle {
            border-radius: 29px;
            border: 1px solid rgba(135, 135, 157, 0.25);
            background: #FAFAFA;
            width: 56px;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #87879D;
            position: absolute;
            top: 100%;
        }
    }

    #container-footer {
        width: 80%;
        display: flex;
        justify-content: space-between;

        h2 {
            color: #FAFAFA;
            width: 30%;
        }

        p {
            color: #FAFAFA;
            width: 30%;
        }

        button#download-pink {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            color: #FFF;
            font-size: 16px;
            font-weight: 900;
            line-height: 26px;

            span {
                margin-left: 4px;
                color: #D9B8FF;
                font-size: 16px;
                font-weight: 900;
                line-height: 26px;
            }
        }
    }
}

//Tablet
@media screen and (max-width: 768px) and (min-width: 376px) {
    #meet-part {
        margin-top: 48px;


        #container-chat-img {
            height: 638px;
            flex-direction: column;
            justify-content: space-between;

            img#img-left {
                display: none;
            }

            img#img-hero-tablet {
                display: block;
            }

            img#img-right {
                display: none;
            }

            #container-chat {
                height: 262px;

                h1 {
                    color: #28283D;
                    text-align: center;
                    font-size: 48px;
                    font-weight: 900;
                    line-height: 48px;
                    width: 80%
                }

                p {
                    color: #87879D;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                    width: 80%;
                }

                #buttons {
                    display: flex;

                    button#download-blue {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 15px;
                        color: #FFF;
                        font-size: 16px;
                        font-weight: 900;
                        line-height: 26px;

                        span {
                            margin-left: 4px;
                            color: #8FE3F9;
                            font-size: 16px;
                            font-weight: 900;
                            line-height: 26px;
                        }
                    }

                    button#download-pink {
                        width: 139px;
                        height: 58px;
                    }
                }
            }
        }
    }

    #section-modern-use {
        margin-top: 80px;
        height: 650px;

        #container-img-rectangles {
            width: 90%;
            display: flex;
            justify-content: space-between;

            img {
                width: 164px;
                height: 156px;
                border-radius: 8px;
            }
        }

        #smarter-text {
            width: 573px;
            height: 240px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .overline {
                color: $color-primary;
            }

            h2 {
                color: $color-tertiary;
                width: 75%;
                text-align: center;
            }

            p {
                color: #87879D;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                width: auto;
            }
        }
    }

    footer {
        position: relative;
        margin-top: 190px;
        background-image: linear-gradient(0deg, rgba(77, 150, 169, 0.9) 0%, rgba(77, 150, 169, 0.9) 0%), url("../starter-code/assets/tablet/image-footer.jpg");
        height: 428px;
        display: flex;
        align-items: center;
        justify-content: center;

        #number-2 {
            top: -25%;
        }

        #container-footer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            height: 270px;

            h2 {
                color: #FAFAFA;
                width: 55%;
                text-align: center;
            }

            p {
                color: #FAFAFA;
                width: 75%;
                text-align: center;
            }

            button#download-pink {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 15px;
                color: #FFF;
                font-size: 16px;
                font-weight: 900;
                line-height: 26px;

                span {
                    margin-left: 4px;
                    color: #D9B8FF;
                    font-size: 16px;
                    font-weight: 900;
                    line-height: 26px;
                }
            }
        }
    }
}

//Mobile

@media screen and (max-width: 375px) {
    #meet-part {
        margin-top: 48px;


        #container-chat-img {
            height: 556px;
            flex-direction: column;
            justify-content: space-between;

            img#img-left {
                display: none;
            }

            img#img-hero-tablet {
                display: block;
                width: 110%;
            }

            img#img-right {
                display: none;
            }

            #container-chat {
                height: 355px;

                h1 {
                    color: #28283D;
                    text-align: center;
                    font-size: 40px;
                    font-weight: 900;
                    line-height: 44px;
                }

                p {
                    color: #87879D;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                    width: 60%;
                }

                #buttons {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    button#download-blue {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 0px;
                        color: #FFF;
                        font-size: 16px;
                        font-weight: 900;
                        line-height: 26px;
                        margin-bottom: 15px;

                        span {
                            margin-left: 4px;
                            color: #8FE3F9;
                            font-size: 16px;
                            font-weight: 900;
                            line-height: 26px;
                        }
                    }

                    button#download-pink {
                        width: 139px;
                        height: 58px;
                    }
                }
            }
        }
    }

    #section-modern-use {
        margin-top: 64px;
        height: 865px;

        #container-img-rectangles {
            width: 310px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 24px;

            img {
                width: 151px;
                height: 143px;
                border-radius: 8px;
            }
        }

        #smarter-text {
            width: 327px;
            height: 284px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .overline {
                color: #4D96A9;
                font-size: 16px;
                font-weight: 900;
                line-height: 26px;
                letter-spacing: 4px;
                text-transform: uppercase;
            }

            h2 {
                color: #28283D;
                text-align: center;
                font-size: 32px;
                font-weight: 900;
                line-height: 36px;
                width: auto;
            }

            p {
                color: #87879D;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
            }
        }
    }

    footer {
        position: relative;
        margin-top: 190px;
        background-image: linear-gradient(0deg, rgba(77, 150, 169, 0.9) 0%, rgba(77, 150, 169, 0.9) 0%), url("../starter-code/assets/mobile/image-footer.jpg");
        background-size:100% 428px;;
        height: 428px;
        display: flex;
        align-items: center;
        justify-content: center;

        #number-2 {
            top: -25%;
        }

        #container-footer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            height: 270px;

            h2 {
                color: #FAFAFA;
                text-align: center;
                font-size: 32px;
                font-weight: 900;
                line-height: 36px;
                width: auto;
            }

            p {
                color: #FAFAFA;
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;
                width: 80%;

            }

            button#download-pink {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 15px;
                color: #FFF;
                font-size: 16px;
                font-weight: 900;
                line-height: 26px;

                span {
                    margin-left: 4px;
                    color: #D9B8FF;
                    font-size: 16px;
                    font-weight: 900;
                    line-height: 26px;
                }
            }
        }
    }
}